@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 약하게 */
*::-webkit-scrollbar { height: 8px; width: 8px; }
*::-webkit-scrollbar-thumb { background: #e5e7eb; border-radius: 9999px; }
